# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/react-plugin
web/app/plugins/react-plugin/node_modules
web/app/plugins/react-plugin/build
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
web/app/ai1wm-backups/
!web/app/uploads/.gitkeep
!web/app/plugins/elementor-hello-world-master-tp-dev-v1


# WordPress
web/wp

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
